# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.DS_Store

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# Root Scratch Files
/*.py
/*.md
!/README.md
/*.log
/*.txt
/*.html
/_backup_static/
